# Import Libraries

In [1]:
import pandas as pd
import os

# File's Path

In [2]:
notebook_path = os.getcwd()
db_files_path = "D:\Documentos\Turbinas\Test_22ITIBarge5MWSimulations"

In [7]:
#print(notebook_path)
#print(db_files_path)

C:\Users\Victor Ramos Fuentes\Documents\Turbinas
D:\Documentos\Turbinas\Test_22ITIBarge5MWSimulations

In [3]:
fileK3 = db_files_path + "\Test22Wind3pitchpulsetrend.xlsx"
fileK5 = db_files_path + "\Test22Wind5pitchpulsetrend.xlsx"
fileK8 = db_files_path + "\Test22Wind8pitchpulsetrend.xlsx"
fileK10 = db_files_path + "\Test22Wind10pitchpulsetrend.xlsx"
fileK114 = db_files_path + "\Test22Wind11-4pitchpulsetrend.xlsx"
fileK13 = db_files_path + "\Test22Wind13pitchpulsetrend.xlsx"
fileK17 = db_files_path + "\Test22Wind17pitchpulsetrend.xlsx"
fileK20 = db_files_path + "\Test22Wind20pitchpulsetrend.xlsx"
fileK21 = db_files_path + "\Test22Wind21pitchpulsetrend.xlsx"

# Read File

In [4]:
df1 = pd.read_excel(fileK3)
df2 = pd.read_excel(fileK5)
df3 = pd.read_excel(fileK8)
df4 = pd.read_excel(fileK10)
df5 = pd.read_excel(fileK114)
df6 = pd.read_excel(fileK13)
df7 = pd.read_excel(fileK17)
df8 = pd.read_excel(fileK20)
df9 = pd.read_excel(fileK21)

# File's Analysis

## File's dimensions

In [5]:
print("File K3 -> " + "Number of rows: " + str(df1.shape[0]) + " Number of columns: " + str(df1.shape[1]))
print("File K5 -> " + "Number of rows: " + str(df2.shape[0]) + " Number of columns: " + str(df2.shape[1]))
print("File K8 -> " + "Number of rows: " + str(df3.shape[0]) + " Number of columns: " + str(df3.shape[1]))
print("File K10 -> " + "Number of rows: " + str(df4.shape[0]) + " Number of columns: " + str(df4.shape[1]))
print("File K11-4 -> " + "Number of rows: " + str(df5.shape[0]) + " Number of columns: " + str(df5.shape[1]))
print("File K13 -> " + "Number of rows: " + str(df6.shape[0]) + " Number of columns: " + str(df6.shape[1]))
print("File K17 -> " + "Number of rows: " + str(df7.shape[0]) + " Number of columns: " + str(df7.shape[1]))
print("File K20 -> " + "Number of rows: " + str(df8.shape[0]) + " Number of columns: " + str(df8.shape[1]))
print("File K21 -> " + "Number of rows: " + str(df9.shape[0]) + " Number of columns: " + str(df9.shape[1]))

File K3 -> Number of rows: 72001 Number of columns: 97
File K5 -> Number of rows: 72001 Number of columns: 97
File K8 -> Number of rows: 72001 Number of columns: 97
File K10 -> Number of rows: 72001 Number of columns: 97
File K11-4 -> Number of rows: 72001 Number of columns: 97
File K13 -> Number of rows: 72001 Number of columns: 97
File K17 -> Number of rows: 72001 Number of columns: 97
File K20 -> Number of rows: 72001 Number of columns: 97
File K21 -> Number of rows: 72001 Number of columns: 97

## File's columns

In [6]:
df1.columns

Index(['Time', 'Wind1VelX', 'Wind1VelY', 'Wind1VelZ', 'BldPitch1', 'BldPitch2',
       'BldPitch3', 'Azimuth', 'RotSpeed', 'GenSpeed', 'NacYaw', 'OoPDefl1',
       'IPDefl1', 'TwstDefl1', 'OoPDefl2', 'IPDefl2', 'TwstDefl2', 'OoPDefl3',
       'IPDefl3', 'TwstDefl3', 'TwrClrnc1', 'TwrClrnc2', 'TwrClrnc3',
       'NcIMUTAxs', 'NcIMUTAys', 'NcIMUTAzs', 'TTDspFA', 'TTDspSS',
       'TTDspTwst', 'PtfmSurge', 'PtfmSway', 'PtfmHeave', 'PtfmRoll',
       'PtfmPitch', 'PtfmYaw', 'PtfmTAxt', 'PtfmTAyt', 'PtfmTAzt', 'RootFxc1',
       'RootFyc1', 'RootFzc1', 'RootMxc1', 'RootMyc1', 'RootMzc1', 'RootFxc2',
       'RootFyc2', 'RootFzc2', 'RootMxc2', 'RootMyc2', 'RootMzc2', 'RootFxc3',
       'RootFyc3', 'RootFzc3', 'RootMxc3', 'RootMyc3', 'RootMzc3', 'Spn1MLxb1',
       'Spn1MLyb1', 'Spn1MLzb1', 'Spn1MLxb2', 'Spn1MLyb2', 'Spn1MLzb2',
       'Spn1MLxb3', 'Spn1MLyb3', 'Spn1MLzb3', 'RotThrust', 'LSSGagFya',
       'LSSGagFza', 'RotTorq', 'LSSGagMya', 'LSSGagMza', 'YawBrFxp',
       'YawBrFyp', 'YawBrFzp', 'YawBrMxp', 'YawBrMyp', 'YawBrMzp', 'TwrBsFxt',
       'TwrBsFyt', 'TwrBsFzt', 'TwrBsMxt', 'TwrBsMyt', 'TwrBsMzt', 'TwHt1MLxt',
       'TwHt1MLyt', 'TwHt1MLzt', 'GenPwr', 'GenTq', 'Wave1Elev', 'T[1]',
       'T[2]', 'T[3]', 'T[4]', 'T[5]', 'T[6]', 'T[7]', 'T[8]'],
      dtype='object')

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72001 entries, 0 to 72000
Data columns (total 97 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Time       72001 non-null  float64
 1   Wind1VelX  72001 non-null  int64
 2   Wind1VelY  72001 non-null  int64
 3   Wind1VelZ  72001 non-null  int64
 4   BldPitch1  72001 non-null  float64
 5   BldPitch2  72001 non-null  float64
 6   BldPitch3  72001 non-null  float64
 7   Azimuth    72001 non-null  float64
 8   RotSpeed   72001 non-null  float64
 9   GenSpeed   72001 non-null  float64
 10  NacYaw     72001 non-null  float64
 11  OoPDefl1   72001 non-null  float64
 12  IPDefl1    72001 non-null  float64
 13  TwstDefl1  72001 non-null  int64
 14  OoPDefl2   72001 non-null  float64
 15  IPDefl2    72001 non-null  float64
 16  TwstDefl2  72001 non-null  int64
 17  OoPDefl3   72001 non-null  float64
 18  IPDefl3    72001 non-null  float64
 19  TwstDefl3  72001 non-null  int64
 20  TwrClrnc1  72001 non-null  float64
 21  TwrClrnc2  72001 non-null  float64
 22  TwrClrnc3  72001 non-null  float64
 23  NcIMUTAxs  72001 non-null  float64
 24  NcIMUTAys  72001 non-null  float64
 25  NcIMUTAzs  72001 non-null  float64
 26  TTDspFA    72001 non-null  float64
 27  TTDspSS    72001 non-null  float64
 28  TTDspTwst  72001 non-null  int64
 29  PtfmSurge  72001 non-null  float64
 30  PtfmSway   72001 non-null  float64
 31  PtfmHeave  72001 non-null  float64
 32  PtfmRoll   72001 non-null  float64
 33  PtfmPitch  72001 non-null  float64
 34  PtfmYaw    72001 non-null  float64
 35  PtfmTAxt   72001 non-null  float64
 36  PtfmTAyt   72001 non-null  float64
 37  PtfmTAzt   72001 non-null  float64
 38  RootFxc1   72001 non-null  float64
 39  RootFyc1   72001 non-null  float64
 40  RootFzc1   72001 non-null  float64
 41  RootMxc1   72001 non-null  float64
 42  RootMyc1   72001 non-null  float64
 43  RootMzc1   72001 non-null  float64
 44  RootFxc2   72001 non-null  float64
 45  RootFyc2   72001 non-null  float64
 46  RootFzc2   72001 non-null  float64
 47  RootMxc2   72001 non-null  float64
 48  RootMyc2   72001 non-null  float64
 49  RootMzc2   72001 non-null  float64
 50  RootFxc3   72001 non-null  float64
 51  RootFyc3   72001 non-null  float64
 52  RootFzc3   72001 non-null  float64
 53  RootMxc3   72001 non-null  float64
 54  RootMyc3   72001 non-null  float64
 55  RootMzc3   72001 non-null  float64
 56  Spn1MLxb1  72001 non-null  float64
 57  Spn1MLyb1  72001 non-null  float64
 58  Spn1MLzb1  72001 non-null  float64
 59  Spn1MLxb2  72001 non-null  float64
 60  Spn1MLyb2  72001 non-null  float64
 61  Spn1MLzb2  72001 non-null  float64
 62  Spn1MLxb3  72001 non-null  float64
 63  Spn1MLyb3  72001 non-null  float64
 64  Spn1MLzb3  72001 non-null  float64
 65  RotThrust  72001 non-null  float64
 66  LSSGagFya  72001 non-null  float64
 67  LSSGagFza  72001 non-null  float64
 68  RotTorq    72001 non-null  float64
 69  LSSGagMya  72001 non-null  float64
 70  LSSGagMza  72001 non-null  float64
 71  YawBrFxp   72001 non-null  float64
 72  YawBrFyp   72001 non-null  float64
 73  YawBrFzp   72001 non-null  float64
 74  YawBrMxp   72001 non-null  float64
 75  YawBrMyp   72001 non-null  float64
 76  YawBrMzp   72001 non-null  float64
 77  TwrBsFxt   72001 non-null  float64
 78  TwrBsFyt   72001 non-null  float64
 79  TwrBsFzt   72001 non-null  float64
 80  TwrBsMxt   72001 non-null  float64
 81  TwrBsMyt   72001 non-null  float64
 82  TwrBsMzt   72001 non-null  float64
 83  TwHt1MLxt  72001 non-null  float64
 84  TwHt1MLyt  72001 non-null  float64
 85  TwHt1MLzt  72001 non-null  float64
 86  GenPwr     72001 non-null  float64
 87  GenTq      72001 non-null  float64
 88  Wave1Elev  72001 non-null  int64
 89  T[1]       72001 non-null  float64
 90  T[2]       72001 non-null  float64
 91  T[3]       72001 non-null  float64
 92  T[4]       72001 non-null  float64
 93  T[5]       72001 non-null  float64
 94  T[6]       72001 non-null  float64
 95  T[7]       72001 non-null  float64
 96  T[8]       72001 non-null  float64
dtypes: float64(89), int64(8)
memory usage: 53.3 MB

In [8]:
df1.describe()

,Time,Wind1VelX,Wind1VelY,Wind1VelZ,BldPitch1,BldPitch2,BldPitch3,Azimuth,RotSpeed,GenSpeed,...,GenTq,Wave1Elev,T[1],T[2],T[3],T[4],T[5],T[6],T[7],T[8]
count,72001.000000,72001.0,72001.0,72001.0,7.200100e+04,7.200100e+04,7.200100e+04,72001.000000,72001.000000,72001.000000,...,72001.000000,72001.0,72001.000000,72001.000000,72001.000000,72001.000000,72001.000000,72001.000000,72001.000000,72001.000000
mean,450.000000,3.0,0.0,0.0,4.000058e+01,4.000058e+01,4.000058e+01,127.955605,0.143629,13.934565,...,2.796401,0.0,273557.299791,273969.016169,274029.497063,274422.389656,274220.449522,274119.951384,273739.530106,273671.490961
std,259.813034,0.0,0.0,0.0,2.582174e+01,2.582174e+01,2.582174e+01,118.884900,1.076439,103.334057,...,25.083636,0.0,2413.493646,1321.715524,1229.159634,2429.769371,2436.963092,1293.418135,1274.504474,2386.828711
min,0.000000,3.0,0.0,0.0,-1.704936e-11,-1.704936e-11,-1.704936e-11,0.000000,-1.672881,-161.661118,...,-54.784569,0.0,268488.000000,270716.250000,271098.250000,268732.468750,268376.062500,270687.531250,271263.687500,268396.125000
25%,225.000000,3.0,0.0,0.0,2.000024e+01,2.000024e+01,2.000024e+01,38.958740,-0.917027,-87.746712,...,-16.721155,0.0,271844.687500,273076.531250,273112.500000,272602.937500,272422.312500,273259.187500,272850.843750,271948.281250
50%,450.000000,3.0,0.0,0.0,3.999990e+01,3.999990e+01,3.999990e+01,67.727989,0.188367,18.297514,...,0.000000,0.0,273368.593750,273758.375000,274182.593750,274558.968750,274415.593750,274245.937500,273555.656250,273472.375000
75%,675.000000,3.0,0.0,0.0,6.000013e+01,6.000013e+01,6.000013e+01,224.201019,1.081442,103.556427,...,23.215385,0.0,275277.281250,274847.437500,274868.250000,276089.875000,275970.531250,274918.906250,274629.500000,275436.156250
max,900.000000,3.0,0.0,0.0,1.000098e+02,1.000098e+02,1.000098e+02,359.999969,2.860218,277.055908,...,47.402912,0.0,279453.750000,277789.625000,276630.343750,279804.250000,279505.656250,277560.437500,276953.781250,279378.250000

In [9]:
df2.describe()

,Time,Wind1VelX,Wind1VelY,Wind1VelZ,BldPitch1,BldPitch2,BldPitch3,Azimuth,RotSpeed,GenSpeed,...,GenTq,Wave1Elev,T[1],T[2],T[3],T[4],T[5],T[6],T[7],T[8]
count,72001.000000,72001.0,72001.0,72001.0,7.200100e+04,7.200100e+04,7.200100e+04,72001.000000,72001.000000,72001.000000,...,72001.000000,72001.0,72001.000000,72001.000000,72001.000000,72001.000000,72001.000000,72001.000000,72001.000000,72001.000000
mean,450.000000,5.0,0.0,0.0,4.000058e+01,4.000058e+01,4.000058e+01,215.036879,0.259958,25.219379,...,4.567886,0.0,271797.994429,273180.112285,274655.191065,276197.344861,275986.756678,274962.371026,273048.090945,272021.019926
std,259.813034,0.0,0.0,0.0,2.582174e+01,2.582174e+01,2.582174e+01,100.071850,1.089522,104.661268,...,25.182084,0.0,2760.288203,1447.100988,1365.456896,2871.447882,2906.787260,1458.997979,1348.781056,2727.890849
min,0.000000,5.0,0.0,0.0,-1.704936e-11,-1.704936e-11,-1.704936e-11,0.000000,-1.851860,-179.209213,...,-57.409603,0.0,266176.593750,269687.593750,271317.187500,271499.468750,270359.406250,271637.875000,270365.812500,266233.875000
25%,225.000000,5.0,0.0,0.0,2.000024e+01,2.000024e+01,2.000024e+01,134.400269,-0.785727,-74.992973,...,-14.473070,0.0,269339.562500,272058.625000,273542.000000,273679.156250,273648.625000,273946.031250,271870.562500,269547.187500
50%,450.000000,5.0,0.0,0.0,3.999990e+01,3.999990e+01,3.999990e+01,233.535431,0.294906,28.605330,...,0.000000,0.0,272060.656250,273069.531250,274531.968750,275733.531250,275555.812500,275003.937500,273101.406250,272457.625000
75%,675.000000,5.0,0.0,0.0,6.000013e+01,6.000013e+01,6.000013e+01,307.659760,1.102707,105.874451,...,25.278259,0.0,273992.531250,274165.781250,275821.812500,278769.937500,278542.375000,276105.437500,274162.875000,274416.000000
max,900.000000,5.0,0.0,0.0,1.000098e+02,1.000098e+02,1.000098e+02,359.970032,3.285362,318.110504,...,47.402912,0.0,277171.687500,276753.343750,277550.406250,282383.843750,282093.937500,278825.656250,276322.437500,276748.125000

In [10]:
df3.describe()

,Time,Wind1VelX,Wind1VelY,Wind1VelZ,BldPitch1,BldPitch2,BldPitch3,Azimuth,RotSpeed,GenSpeed,...,GenTq,Wave1Elev,T[1],T[2],T[3],T[4],T[5],T[6],T[7],T[8]
count,72001.000000,72001.0,72001.0,72001.0,7.200100e+04,7.200100e+04,7.200100e+04,72001.000000,72001.000000,72001.000000,...,72001.000000,72001.0,72001.000000,72001.000000,72001.000000,72001.000000,72001.000000,72001.000000,72001.000000,72001.000000
mean,450.000000,8.0,0.0,0.0,4.000058e+01,4.000058e+01,4.000058e+01,209.407634,0.661707,64.188137,...,8.849953,0.0,269478.409152,271994.108011,277743.236523,284776.565368,284155.868383,277495.891867,271272.975543,269519.324662
std,259.813034,0.0,0.0,0.0,2.582174e+01,2.582174e+01,2.582174e+01,106.529736,1.802519,174.282934,...,24.624671,0.0,19621.716037,8403.659288,10359.121534,27907.648510,27571.331625,10088.753967,8613.465921,19762.963271
min,0.000000,8.0,0.0,0.0,-1.704936e-11,-1.704936e-11,-1.704936e-11,0.000000,-1.701442,-164.419403,...,-53.847073,0.0,221920.343750,249539.109375,260297.953125,242638.578125,243395.125000,259555.390625,248210.718750,222570.218750
25%,225.000000,8.0,0.0,0.0,2.000024e+01,2.000024e+01,2.000024e+01,117.411339,-0.562235,-53.137383,...,-9.409592,0.0,257569.281250,267146.031250,269853.968750,264406.937500,263745.406250,269845.937500,266240.312500,257378.125000
50%,450.000000,8.0,0.0,0.0,3.999990e+01,3.999990e+01,3.999990e+01,228.373734,0.383667,37.026203,...,6.714988,0.0,268969.468750,272412.281250,276232.531250,279574.531250,278738.562500,276020.343750,271369.562500,269002.062500
75%,675.000000,8.0,0.0,0.0,6.000013e+01,6.000013e+01,6.000013e+01,310.825592,1.246585,119.861885,...,29.402718,0.0,285377.250000,278515.906250,282314.937500,294237.125000,293831.375000,281797.218750,278170.843750,284784.531250
max,900.000000,8.0,0.0,0.0,1.000098e+02,1.000098e+02,1.000098e+02,359.985260,9.202223,885.919617,...,47.402912,0.0,320991.593750,290978.093750,312151.281250,395964.406250,390498.375000,313622.031250,291918.437500,320313.562500

In [11]:
df4.describe()

,Time,Wind1VelX,Wind1VelY,Wind1VelZ,BldPitch1,BldPitch2,BldPitch3,Azimuth,RotSpeed,GenSpeed,...,GenTq,Wave1Elev,T[1],T[2],T[3],T[4],T[5],T[6],T[7],T[8]
count,72001.000000,72001.0,72001.0,72001.0,7.200100e+04,7.200100e+04,7.200100e+04,72001.000000,72001.000000,72001.000000,...,72001.000000,72001.0,72001.000000,72001.000000,72001.000000,72001.000000,72001.000000,72001.000000,72001.000000,72001.000000
mean,450.000000,10.0,0.0,0.0,4.000058e+01,4.000058e+01,4.000058e+01,183.783322,0.934655,90.662476,...,12.766247,0.0,268809.007960,271263.926794,280511.224404,295512.332143,294786.817173,280250.675102,270370.851716,268806.471450
std,259.813034,0.0,0.0,0.0,2.582174e+01,2.582174e+01,2.582174e+01,118.953194,2.428485,235.182835,...,23.728163,0.0,28856.342205,12567.616010,17824.374739,59568.653600,59378.927023,17968.852098,12336.763313,28901.822314
min,0.000000,10.0,0.0,0.0,-1.704936e-11,-1.704936e-11,-1.704936e-11,0.000000,-1.618344,-155.818695,...,-51.034584,0.0,201467.671875,235987.812500,251998.671875,228157.359375,227681.984375,252373.015625,235588.281250,201402.484375
25%,225.000000,10.0,0.0,0.0,2.000024e+01,2.000024e+01,2.000024e+01,70.390152,-0.451901,-42.484303,...,-4.722185,0.0,252568.812500,264814.500000,269333.781250,263068.031250,262956.906250,269510.718750,264228.781250,253073.765625
50%,450.000000,10.0,0.0,0.0,3.999990e+01,3.999990e+01,3.999990e+01,198.267273,0.385368,37.056408,...,12.527667,0.0,268232.281250,271942.625000,276640.937500,280655.812500,279865.906250,276192.750000,271009.875000,267793.437500
75%,675.000000,10.0,0.0,0.0,6.000013e+01,6.000013e+01,6.000013e+01,291.735657,1.271309,122.164299,...,32.403828,0.0,286091.125000,279270.000000,284709.531250,301143.281250,301859.031250,284816.656250,278404.093750,286695.375000
max,900.000000,10.0,0.0,0.0,1.000098e+02,1.000098e+02,1.000098e+02,359.997650,11.354765,1089.225830,...,47.402912,0.0,366018.968750,306697.437500,356704.281250,606886.937500,605067.562500,357452.156250,304580.906250,367978.687500

In [12]:
df5.describe()

,Time,Wind1VelX,Wind1VelY,Wind1VelZ,BldPitch1,BldPitch2,BldPitch3,Azimuth,RotSpeed,GenSpeed,...,GenTq,Wave1Elev,T[1],T[2],T[3],T[4],T[5],T[6],T[7],T[8]
count,72001.000000,72001.0,72001.0,72001.0,7.200100e+04,7.200100e+04,7.200100e+04,72001.000000,72001.000000,72001.000000,...,72001.000000,72001.0,72001.000000,72001.000000,72001.000000,72001.000000,72001.000000,72001.000000,72001.000000,72001.000000
mean,450.000000,11.4,0.0,0.0,4.000058e+01,4.000058e+01,4.000058e+01,160.592376,1.295606,125.672403,...,17.190983,0.0,265246.510406,269966.639799,282547.884586,303694.784155,303037.090762,282309.951050,268724.311895,265125.863711
std,259.813034,0.0,0.0,0.0,2.582174e+01,2.582174e+01,2.582174e+01,94.392888,2.990636,289.827922,...,23.023148,0.0,25179.495371,12352.142711,20897.807813,84132.893128,85123.601641,21813.395064,11233.688375,24837.462708
min,0.000000,11.4,0.0,0.0,-1.704936e-11,-1.704936e-11,-1.704936e-11,0.000000,-1.560104,-150.523163,...,-49.721951,0.0,193930.718750,229523.562500,259695.781250,239859.750000,239136.546875,256856.656250,230589.656250,193825.546875
25%,225.000000,11.4,0.0,0.0,2.000024e+01,2.000024e+01,2.000024e+01,92.758858,-0.350191,-32.624908,...,0.000000,0.0,251666.687500,264115.906250,271195.156250,266279.750000,265433.687500,269987.875000,264340.500000,251702.234375
50%,450.000000,11.4,0.0,0.0,3.999990e+01,3.999990e+01,3.999990e+01,149.367310,0.401292,37.825768,...,17.965927,0.0,267084.375000,271624.218750,277287.843750,281982.062500,280957.125000,276685.750000,270266.218750,266869.562500
75%,675.000000,11.4,0.0,0.0,6.000013e+01,6.000013e+01,6.000013e+01,226.665436,1.328560,127.651283,...,38.214672,0.0,282895.218750,278543.593750,284765.593750,303451.437500,303128.625000,286028.968750,276406.281250,282955.843750
max,900.000000,11.4,0.0,0.0,1.000098e+02,1.000098e+02,1.000098e+02,359.997253,12.629963,1205.880493,...,47.402912,0.0,329181.843750,296510.531250,385538.937500,789684.250000,799487.750000,387899.250000,292128.406250,328083.406250

In [13]:
df6.describe()

,Time,Wind1VelX,Wind1VelY,Wind1VelZ,BldPitch1,BldPitch2,BldPitch3,Azimuth,RotSpeed,GenSpeed,...,GenTq,Wave1Elev,T[1],T[2],T[3],T[4],T[5],T[6],T[7],T[8]
count,72001.000000,72001.0,72001.0,72001.0,7.200100e+04,7.200100e+04,7.200100e+04,72001.000000,72001.000000,72001.000000,...,72001.000000,72001.0,72001.000000,72001.000000,72001.000000,7.200100e+04,7.200100e+04,72001.000000,72001.000000,72001.000000
mean,450.000000,13.0,0.0,0.0,4.000058e+01,4.000058e+01,4.000058e+01,176.161747,2.201140,213.507396,...,21.970474,0.0,262115.404625,268589.459765,286147.293473,3.193581e+05,3.189513e+05,285542.572098,266815.907488,261825.162140
std,259.813034,0.0,0.0,0.0,2.582174e+01,2.582174e+01,2.582174e+01,116.487177,4.731050,458.786537,...,20.637404,0.0,26868.680158,13719.652882,26352.974027,1.273985e+05,1.317012e+05,28241.946479,12394.476126,26605.369307
min,0.000000,13.0,0.0,0.0,-1.704936e-11,-1.704936e-11,-1.704936e-11,0.000000,-1.393600,-134.455170,...,-44.472111,0.0,187885.687500,223716.796875,260179.218750,2.435761e+05,2.436035e+05,259729.390625,226266.468750,188090.203125
25%,225.000000,13.0,0.0,0.0,2.000024e+01,2.000024e+01,2.000024e+01,67.984367,-0.237024,-21.889776,...,3.151753,0.0,247858.234375,262563.312500,271643.468750,2.672371e+05,2.653059e+05,269799.750000,261880.328125,247846.390625
50%,450.000000,13.0,0.0,0.0,3.999990e+01,3.999990e+01,3.999990e+01,182.742264,0.401640,38.509163,...,25.465025,0.0,264017.093750,270444.500000,278796.281250,2.857163e+05,2.846774e+05,278120.093750,269034.312500,263769.718750
75%,675.000000,13.0,0.0,0.0,6.000013e+01,6.000013e+01,6.000013e+01,280.595917,1.366495,131.005478,...,41.403461,0.0,282656.000000,279031.750000,287880.812500,3.107074e+05,3.092544e+05,288007.437500,275647.750000,282018.187500
max,900.000000,13.0,0.0,0.0,1.000098e+02,1.000098e+02,1.000098e+02,359.994934,21.448654,2068.786133,...,47.402912,0.0,318293.750000,291429.000000,415903.375000,1.099179e+06,1.138803e+06,426821.625000,290718.093750,317966.343750

In [14]:
df7.describe()

,Time,Wind1VelX,Wind1VelY,Wind1VelZ,BldPitch1,BldPitch2,BldPitch3,Azimuth,RotSpeed,GenSpeed,...,GenTq,Wave1Elev,T[1],T[2],T[3],T[4],T[5],T[6],T[7],T[8]
count,72001.000000,72001.0,72001.0,72001.0,7.200100e+04,7.200100e+04,7.200100e+04,72001.000000,72001.000000,72001.000000,...,72001.000000,72001.0,72001.000000,72001.000000,72001.000000,7.200100e+04,7.200100e+04,72001.000000,72001.000000,72001.000000
mean,450.000000,17.0,0.0,0.0,4.000058e+01,4.000058e+01,4.000058e+01,155.714503,5.952571,577.395135,...,35.130165,0.0,255613.222694,266006.035016,295765.365875,3.684429e+05,3.647364e+05,291575.774760,262452.198632,254590.014646
std,259.813034,0.0,0.0,0.0,2.582174e+01,2.582174e+01,2.582174e+01,106.443025,9.353492,907.288032,...,13.745194,0.0,29881.864934,15784.456827,39685.661914,2.914647e+05,3.063120e+05,36395.768824,15910.420867,29581.735209
min,0.000000,17.0,0.0,0.0,-1.704936e-11,-1.704936e-11,-1.704936e-11,0.000000,-0.279059,-25.695162,...,0.000000,0.0,181024.062500,216168.359375,252639.734375,2.317729e+05,2.372542e+05,259939.921875,214871.156250,181847.703125
25%,225.000000,17.0,0.0,0.0,2.000024e+01,2.000024e+01,2.000024e+01,81.215179,0.025697,2.625061,...,24.950159,0.0,241069.109375,258412.250000,276969.937500,2.764625e+05,2.717469e+05,270348.562500,258605.468750,242862.750000
50%,450.000000,17.0,0.0,0.0,3.999990e+01,3.999990e+01,3.999990e+01,103.444092,0.487888,46.028603,...,39.902908,0.0,259913.187500,268232.781250,280958.375000,2.906293e+05,2.897414e+05,280918.062500,266444.718750,260578.125000
75%,675.000000,17.0,0.0,0.0,6.000013e+01,6.000013e+01,6.000013e+01,258.357117,7.798914,756.625305,...,47.402912,0.0,275235.156250,278594.093750,291965.656250,3.232595e+05,3.234341e+05,294411.812500,270281.312500,272295.375000
max,900.000000,17.0,0.0,0.0,1.000098e+02,1.000098e+02,1.000098e+02,359.996033,38.876049,3805.109863,...,47.402912,0.0,344486.281250,288923.531250,474201.562500,3.621352e+06,3.979531e+06,500144.031250,310669.843750,346103.250000

In [15]:
df8.describe()

,Time,Wind1VelX,Wind1VelY,Wind1VelZ,BldPitch1,BldPitch2,BldPitch3,Azimuth,RotSpeed,GenSpeed,...,GenTq,Wave1Elev,T[1],T[2],T[3],T[4],T[5],T[6],T[7],T[8]
count,72001.000000,72001.0,72001.0,72001.0,7.200100e+04,7.200100e+04,7.200100e+04,72001.000000,72001.000000,72001.000000,...,72001.000000,72001.0,72001.000000,72001.000000,72001.000000,7.200100e+04,7.200100e+04,72001.000000,72001.000000,72001.000000
mean,450.000000,20.0,0.0,0.0,4.000058e+01,4.000058e+01,4.000058e+01,194.337273,8.725792,846.396938,...,39.321256,0.0,254365.179284,264949.719779,300220.052184,4.163946e+05,3.953249e+05,293704.908896,262615.810267,254661.416823
std,259.813034,0.0,0.0,0.0,2.582174e+01,2.582174e+01,2.582174e+01,107.847457,11.627455,1127.876105,...,13.461505,0.0,32670.364059,14489.169624,50381.004193,5.178906e+05,4.639412e+05,39433.640202,23464.246870,37625.786678
min,0.000000,20.0,0.0,0.0,-1.704936e-11,-1.704936e-11,-1.704936e-11,0.000000,-0.132351,-13.823878,...,0.000000,0.0,178890.500000,213144.859375,231728.937500,2.168267e+05,2.252107e+05,260152.296875,207568.875000,178863.875000
25%,225.000000,20.0,0.0,0.0,2.000024e+01,2.000024e+01,2.000024e+01,98.913971,1.568849,152.185654,...,32.556164,0.0,237932.093750,262205.125000,273146.125000,2.754742e+05,2.747310e+05,275784.093750,251403.875000,235093.984375
50%,450.000000,20.0,0.0,0.0,3.999990e+01,3.999990e+01,3.999990e+01,201.657425,3.976334,385.738068,...,47.402912,0.0,258710.359375,269719.281250,284829.843750,2.949246e+05,2.910217e+05,279821.281250,263603.750000,257463.718750
75%,675.000000,20.0,0.0,0.0,6.000013e+01,6.000013e+01,6.000013e+01,302.682770,10.323840,1002.000549,...,47.402912,0.0,272065.593750,273263.937500,304371.968750,3.417084e+05,3.322150e+05,289514.281250,273592.406250,273385.437500
max,900.000000,20.0,0.0,0.0,1.000098e+02,1.000098e+02,1.000098e+02,359.997437,48.885349,4728.233398,...,47.402912,0.0,375326.312500,289041.593750,591901.000000,5.756522e+06,6.170074e+06,528419.125000,354575.812500,418764.250000

In [16]:
df9.describe()

,Time,Wind1VelX,Wind1VelY,Wind1VelZ,BldPitch1,BldPitch2,BldPitch3,Azimuth,RotSpeed,GenSpeed,...,GenTq,Wave1Elev,T[1],T[2],T[3],T[4],T[5],T[6],T[7],T[8]
count,72001.000000,72001.0,72001.0,72001.0,7.200100e+04,7.200100e+04,7.200100e+04,72001.000000,72001.000000,72001.000000,...,72001.000000,72001.0,72001.000000,72001.000000,72001.000000,7.200100e+04,7.200100e+04,72001.000000,72001.000000,72001.000000
mean,450.000000,21.0,0.0,0.0,4.000058e+01,4.000058e+01,4.000058e+01,181.949065,9.441195,915.790225,...,39.430573,0.0,253347.431728,265820.911953,301497.857569,4.259948e+05,4.050877e+05,294195.803376,259470.936422,251371.438672
std,259.813034,0.0,0.0,0.0,2.582174e+01,2.582174e+01,2.582174e+01,98.403952,12.415750,1204.344011,...,13.573060,0.0,32750.375105,17154.061176,48055.130273,5.682305e+05,5.066310e+05,42544.858401,16460.515290,31186.970903
min,0.000000,21.0,0.0,0.0,-1.704936e-11,-1.704936e-11,-1.704936e-11,0.000000,-0.145709,-19.178562,...,0.000000,0.0,178277.890625,212164.375000,255678.843750,2.265157e+05,2.290868e+05,246732.218750,205927.000000,177944.546875
25%,225.000000,21.0,0.0,0.0,2.000024e+01,2.000024e+01,2.000024e+01,99.881439,1.780052,172.666489,...,38.966331,0.0,236928.406250,259502.859375,277804.843750,2.797803e+05,2.749242e+05,271955.250000,251867.984375,234813.437500
50%,450.000000,21.0,0.0,0.0,3.999990e+01,3.999990e+01,3.999990e+01,196.426346,4.401323,426.878876,...,47.402912,0.0,257809.859375,269753.906250,285836.687500,2.970281e+05,2.918888e+05,280002.312500,262758.468750,256560.046875
75%,675.000000,21.0,0.0,0.0,6.000013e+01,6.000013e+01,6.000013e+01,253.373398,11.169536,1083.431274,...,47.402912,0.0,271781.562500,277511.875000,303309.000000,3.422545e+05,3.338708e+05,294201.406250,268823.375000,270092.750000
max,900.000000,21.0,0.0,0.0,1.000098e+02,1.000098e+02,1.000098e+02,359.999603,51.670273,4964.985352,...,47.402912,0.0,372565.781250,304312.718750,612090.437500,6.355803e+06,6.803772e+06,536663.812500,305730.281250,357265.375000